/* _antheacol.scss */

$pictext-bg:    green; // Text on each picture
$pictext-tx:    white;
$pictext-bd:    grey;

$bothtext-bg:   red;  // Text on Before/After summary
$bothtext-tx:   white;
$bothtext-bd:   grey;

$piccol-bd:     grey;  // border color of pics



